<<<<<<< HEAD
body {
  -webkit-animation: fondoAnimacion 1s forwards;
  animation: fondoAnimacion 1s forwards; }

@-webkit-keyframes fondoAnimacion {
  0% {
    background-color: #c83c41; }
  100% {
    background-color: none; } }

@keyframes fondoAnimacion {
  0% {
    background-color: #c83c41; }
  100% {
    background-color: none; } }

.st0 {
  fill: #C73B41; }

.st0-d {
  fill: #C73B41; }

#pathid {
  -webkit-animation: mymove 2s forwards;
  animation: mymove 2s forwards;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

#capa-d {
  position: absolute;
  top: 0;
  z-index: -1; }

#capa {
  position: relative; }

#pathid-d {
  -webkit-animation: mymove-d 2s forwards;
  animation: mymove-d 2s forwards;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

@media (max-width: 760px) {
  .wrapper-animacion-izq > svg {
    height: 100vh;
    width: 100%; } }

@-webkit-keyframes mymoves {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@keyframes mymoves {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@-webkit-keyframes mymove {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

@keyframes mymove {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

@-webkit-keyframes mymoves-d {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@keyframes mymoves-d {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@-webkit-keyframes mymove-d {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

@keyframes mymove-d {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

#rectangulo-relleno {
  opacity: 0;
  -webkit-transform: scaleX(0) scaleY(0);
  -ms-transform: scaleX(0) scaleY(0);
  transform: scaleX(0) scaleY(0); }

.wrapper-petalo {
  /* position: absolute;
  right: 0;
  top: 0;
  width: 100vw;*/ }

.Titulo01, .Titulo02, .Titulo03 {
  color: #ffffff;
  text-shadow: -1px -1px 0 #C83C41, 1px -1px 0 #C83C41, -1px 1px 0 #C83C41, 1px 1px 0 #C83C41;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  opacity: 0; }

.fade-in {
  opacity: 1; }

.fish {
  opacity: 1; }

#svg-filtros-distoricion, .svg-filters, #svg-efecto-goma {
  width: 0;
  position: absolute;
  left: 0; }

#selecion {
  -webkit-transform: translateY(-180px);
  -ms-transform: translateY(-180px);
  transform: translateY(-180px); }
  @media (min-width: 760px) {
    #selecion {
      -webkit-transform: translateX(150px) translateY(-250px);
      -ms-transform: translateX(150px) translateY(-250px);
      transform: translateX(150px) translateY(-250px); } }

.st0B, .st1B {
  /* filter:url(#distort);*/ }

.st4B {
  mix-blend-mode: color-dodge; }

.st0B {
  fill: #C73B41; }

.svg-contacto {
  opacity: 0; }

.st1B {
  fill: #262448; }

.st2B {
  fill: #315556; }

.st3B {
  fill: #C73B41; }

.st4B {
  fill: #FFFFFF;
  stroke: #33AF25;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.st5B {
  fill: transparent;
  stroke: #FFFFFF;
  /*** AD2D2D**/
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 5s linear infinite;
  animation: dash 5s linear infinite;
  /* filter:url(#distort);*/ }

#circulo-particula {
  fill: #cc534e;
  /* filter:url(#distort);*/ }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.st2B {
  -webkit-animation: squigglevision 0.4s infinite alternate;
  animation: squigglevision 0.4s infinite alternate;
  /*filter:url(#distort);*/ }

.st6B {
  fill: #C73B41;
  -webkit-transform: scale(1.05) translateX(-50px) translateY(-80px);
  -ms-transform: scale(1.05) translateX(-50px) translateY(-80px);
  transform: scale(1.05) translateX(-50px) translateY(-80px);
  /*filter:url(#dropshadow);*/ }
  @media (max-width: 760px) {
    .st6B {
      -webkit-transform: scale(2.5) translateX(-800px) translateY(-400px);
      -ms-transform: scale(2.5) translateX(-800px) translateY(-400px);
      transform: scale(2.5) translateX(-800px) translateY(-400px); } }

.st0B {
  -webkit-animation: 10s wave linear infinite alternate;
  animation: 10s wave linear infinite alternate; }

.st3B {
  -webkit-animation: 4s waveC linear infinite alternate;
  animation: 4s waveC linear infinite alternate; }

@-webkit-keyframes squigglevision {
  0% {
    -webkit-filter: url("#turbulence-1");
    filter: url("#turbulence-1"); }
  25% {
    -webkit-filter: url("#turbulence-2");
    filter: url("#turbulence-2"); }
  50% {
    -webkit-filter: url("#turbulence-3");
    filter: url("#turbulence-3"); }
  75% {
    -webkit-filter: url("#turbulence-4");
    filter: url("#turbulence-4"); }
  100% {
    -webkit-filter: url("#turbulence-5");
    filter: url("#turbulence-5"); } }

@keyframes squigglevision {
  0% {
    -webkit-filter: url("#turbulence-1");
    filter: url("#turbulence-1"); }
  25% {
    -webkit-filter: url("#turbulence-2");
    filter: url("#turbulence-2"); }
  50% {
    -webkit-filter: url("#turbulence-3");
    filter: url("#turbulence-3"); }
  75% {
    -webkit-filter: url("#turbulence-4");
    filter: url("#turbulence-4"); }
  100% {
    -webkit-filter: url("#turbulence-5");
    filter: url("#turbulence-5"); } }

@-webkit-keyframes wave {
  100% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  50% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  0% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); } }

@keyframes wave {
  100% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  50% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  0% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); } }

@-webkit-keyframes waveC {
  0% {
    d: path("M1960.1,1353.2c7.5-48.4,48.1-72.9,51.6-123.7c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-85,153.6-169.6,197.1c-195,100.2-181.6,217.5-35.5,216.6c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1943.7,1458.4,1960.1,1353.2z");
    -webkit-filter: hue-rotate(0deg); }
  50% {
    d: path("M1922.9,1348.5c7.5-48.4,85.2-68.2,88.8-119c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-12.9,117.4-42,157.8c-29.5,41-94.9,29-132.4,59.3c-68.8,55.7-55.5,166.2-140.1,209.7c-195,100.2-211.1,204.9-65,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1906.5,1453.6,1922.9,1348.5z"); }
  100% {
    d: path("M1972.4,1374.4c7.5-48.4,35.7-94.1,39.3-144.9c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-48.1,166.2-132.7,209.7c-195,100.2-218.5,204.9-72.4,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1956,1479.6,1972.4,1374.4z");
    -webkit-filter: hue-rotate(360deg); } }

@keyframes waveC {
  0% {
    d: path("M1960.1,1353.2c7.5-48.4,48.1-72.9,51.6-123.7c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-85,153.6-169.6,197.1c-195,100.2-181.6,217.5-35.5,216.6c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1943.7,1458.4,1960.1,1353.2z");
    -webkit-filter: hue-rotate(0deg); }
  50% {
    d: path("M1922.9,1348.5c7.5-48.4,85.2-68.2,88.8-119c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-12.9,117.4-42,157.8c-29.5,41-94.9,29-132.4,59.3c-68.8,55.7-55.5,166.2-140.1,209.7c-195,100.2-211.1,204.9-65,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1906.5,1453.6,1922.9,1348.5z"); }
  100% {
    d: path("M1972.4,1374.4c7.5-48.4,35.7-94.1,39.3-144.9c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-48.1,166.2-132.7,209.7c-195,100.2-218.5,204.9-72.4,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1956,1479.6,1972.4,1374.4z");
    -webkit-filter: hue-rotate(360deg); } }
=======
body {
  -webkit-animation: fondoAnimacion 1s forwards;
  animation: fondoAnimacion 1s forwards; }

@-webkit-keyframes fondoAnimacion {
  0% {
    background-color: #c83c41; }
  100% {
    background-color: none; } }

@keyframes fondoAnimacion {
  0% {
    background-color: #c83c41; }
  100% {
    background-color: none; } }

.st0 {
  fill: #C73B41; }

.st0-d {
  fill: #C73B41; }

#pathid {
  -webkit-animation: mymove 2s forwards;
  animation: mymove 2s forwards;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

#capa-d {
  position: absolute;
  top: 0;
  z-index: -1; }

#capa {
  position: relative; }

#pathid-d {
  -webkit-animation: mymove-d 2s forwards;
  animation: mymove-d 2s forwards;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

@media (max-width: 760px) {
  .wrapper-animacion-izq > svg {
    height: 100vh;
    width: 100%; } }

@-webkit-keyframes mymoves {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@keyframes mymoves {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@-webkit-keyframes mymove {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

@keyframes mymove {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

@-webkit-keyframes mymoves-d {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@keyframes mymoves-d {
  0% {
    background-color: #C73B41; }
  100% {
    background-color: white; } }

@-webkit-keyframes mymove-d {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

@keyframes mymove-d {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center; } }

#rectangulo-relleno {
  opacity: 0;
  -webkit-transform: scaleX(0) scaleY(0);
  -ms-transform: scaleX(0) scaleY(0);
  transform: scaleX(0) scaleY(0); }

.wrapper-petalo {
  /* position: absolute;
  right: 0;
  top: 0;
  width: 100vw;*/ }

.Titulo01, .Titulo02, .Titulo03 {
  color: #ffffff;
  text-shadow: -1px -1px 0 #C83C41, 1px -1px 0 #C83C41, -1px 1px 0 #C83C41, 1px 1px 0 #C83C41;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  opacity: 0; }

.fade-in {
  opacity: 1; }

.fish {
  opacity: 1; }

#svg-filtros-distoricion, .svg-filters, #svg-efecto-goma {
  width: 0;
  position: absolute;
  left: 0; }

#selecion {
  -webkit-transform: translateY(-180px);
  -ms-transform: translateY(-180px);
  transform: translateY(-180px); }
  @media (min-width: 760px) {
    #selecion {
      -webkit-transform: translateX(150px) translateY(-250px);
      -ms-transform: translateX(150px) translateY(-250px);
      transform: translateX(150px) translateY(-250px); } }

.st0B, .st1B {
  /* filter:url(#distort);*/ }

.st4B {
  mix-blend-mode: color-dodge; }

.st0B {
  fill: #C73B41; }

.svg-contacto {
  opacity: 0; }

.st1B {
  fill: #262448; }

.st2B {
  fill: #315556; }

.st3B {
  fill: #C73B41; }

.st4B {
  fill: #FFFFFF;
  stroke: #33AF25;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.st5B {
  fill: transparent;
  stroke: #FFFFFF;
  /*** AD2D2D**/
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 5s linear infinite;
  animation: dash 5s linear infinite;
  /* filter:url(#distort);*/ }

#circulo-particula {
  fill: #cc534e;
  /* filter:url(#distort);*/ }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.st2B {
  -webkit-animation: squigglevision 0.4s infinite alternate;
  animation: squigglevision 0.4s infinite alternate;
  /*filter:url(#distort);*/ }

.st6B {
  fill: #C73B41;
  -webkit-transform: scale(1.05) translateX(-50px) translateY(-80px);
  -ms-transform: scale(1.05) translateX(-50px) translateY(-80px);
  transform: scale(1.05) translateX(-50px) translateY(-80px);
  /*filter:url(#dropshadow);*/ }
  @media (max-width: 760px) {
    .st6B {
      -webkit-transform: scale(2.5) translateX(-800px) translateY(-400px);
      -ms-transform: scale(2.5) translateX(-800px) translateY(-400px);
      transform: scale(2.5) translateX(-800px) translateY(-400px); } }

.st0B {
  -webkit-animation: 10s wave linear infinite alternate;
  animation: 10s wave linear infinite alternate; }

.st3B {
  -webkit-animation: 4s waveC linear infinite alternate;
  animation: 4s waveC linear infinite alternate; }

@-webkit-keyframes squigglevision {
  0% {
    -webkit-filter: url("#turbulence-1");
    filter: url("#turbulence-1"); }
  25% {
    -webkit-filter: url("#turbulence-2");
    filter: url("#turbulence-2"); }
  50% {
    -webkit-filter: url("#turbulence-3");
    filter: url("#turbulence-3"); }
  75% {
    -webkit-filter: url("#turbulence-4");
    filter: url("#turbulence-4"); }
  100% {
    -webkit-filter: url("#turbulence-5");
    filter: url("#turbulence-5"); } }

@keyframes squigglevision {
  0% {
    -webkit-filter: url("#turbulence-1");
    filter: url("#turbulence-1"); }
  25% {
    -webkit-filter: url("#turbulence-2");
    filter: url("#turbulence-2"); }
  50% {
    -webkit-filter: url("#turbulence-3");
    filter: url("#turbulence-3"); }
  75% {
    -webkit-filter: url("#turbulence-4");
    filter: url("#turbulence-4"); }
  100% {
    -webkit-filter: url("#turbulence-5");
    filter: url("#turbulence-5"); } }

@-webkit-keyframes wave {
  100% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  50% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  0% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); } }

@keyframes wave {
  100% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  50% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); }
  0% {
    d: path("M101.1,1635.5c23.8-147.6,119.1-209.1,246.4-253.7c109-38.2,236.9-54.4,319.9-133.1c82.7-78.5,121.7-178.2,230.4-214.4c145.8-48.5,253.2,41,289.3,155.1c50,158.1-52.9,287.2-189.6,329.2c-113.2,34.8-234,69.3-303.8,177.7c-64.3,99.9-67.8,266-192.1,318.1C360.5,2073.4,57.1,1908.4,101.1,1635.5z"); } }

@-webkit-keyframes waveC {
  0% {
    d: path("M1960.1,1353.2c7.5-48.4,48.1-72.9,51.6-123.7c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-85,153.6-169.6,197.1c-195,100.2-181.6,217.5-35.5,216.6c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1943.7,1458.4,1960.1,1353.2z");
    -webkit-filter: hue-rotate(0deg); }
  50% {
    d: path("M1922.9,1348.5c7.5-48.4,85.2-68.2,88.8-119c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-12.9,117.4-42,157.8c-29.5,41-94.9,29-132.4,59.3c-68.8,55.7-55.5,166.2-140.1,209.7c-195,100.2-211.1,204.9-65,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1906.5,1453.6,1922.9,1348.5z"); }
  100% {
    d: path("M1972.4,1374.4c7.5-48.4,35.7-94.1,39.3-144.9c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-48.1,166.2-132.7,209.7c-195,100.2-218.5,204.9-72.4,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1956,1479.6,1972.4,1374.4z");
    -webkit-filter: hue-rotate(360deg); } }

@keyframes waveC {
  0% {
    d: path("M1960.1,1353.2c7.5-48.4,48.1-72.9,51.6-123.7c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-85,153.6-169.6,197.1c-195,100.2-181.6,217.5-35.5,216.6c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1943.7,1458.4,1960.1,1353.2z");
    -webkit-filter: hue-rotate(0deg); }
  50% {
    d: path("M1922.9,1348.5c7.5-48.4,85.2-68.2,88.8-119c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-12.9,117.4-42,157.8c-29.5,41-94.9,29-132.4,59.3c-68.8,55.7-55.5,166.2-140.1,209.7c-195,100.2-211.1,204.9-65,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1906.5,1453.6,1922.9,1348.5z"); }
  100% {
    d: path("M1972.4,1374.4c7.5-48.4,35.7-94.1,39.3-144.9c7.7-110.5-105.3-164.6-152.2-78.3c-23.9,43.9-31.2,97.6-60.3,138.1c-29.5,41-76.6,48.8-114,79.1c-68.8,55.7-48.1,166.2-132.7,209.7c-195,100.2-218.5,204.9-72.4,204c122.2-0.7,147.9-165.1,304.6-169.9C2039.5,1604.3,1956,1479.6,1972.4,1374.4z");
    -webkit-filter: hue-rotate(360deg); } }
>>>>>>> 346a1e4f6aea5e949a72e4168c37c09227c0a19a
