$rojo: #C83C41;
$amarilloPastel: #F8EBB7;

#page-propuesta-educativa{
    background-color: $amarilloPastel;
}


.rojo-trans{
	background-color: rgba(200,60,65, .8);
}

.rojo-trans-mix{
	background-color: #d25f59;
}

.t-white{
	color: #ffffff;
}

