#educacionintegral {
	height: 100vh;
    background-size: cover;
    background-image: url('./mobile/propuesta-academica.jpg');

    .titulo-interno {
	    font-size: 30px;
	    color: #e5ac4dc;
	    margin-top: 0;
	    margin-bottom: 0;
	    position: relative;
	    z-index: 4;
	}
}

#educacionpersonal {
	height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/personalizada/educacion-personalizada.jpg');

    .section-content {
    	section {
    		padding: 0;
    		width: 280px;
    		margin: 0 auto;

    		p {
    			text-align: left;
    			font-size: 16px;
    		}
    	}
    }

    .container {
    	margin-left: 0;
    	margin-right: 0;
    		
	    .titulo-interno {
		    z-index: 4;
		    margin-left: 0;
		    color: #e5ac4dc;
		    margin-right: 0;
		    font-size: 30px;
		    margin-top: 70px;
		    position: relative;
		}
    }

    .img-educacion-top {
	    width: 230px;
	    display: block;
	    margin: 21px auto;
	    position: relative;
    }

}

#educacionpersonal .seccion-text-right-titulo,
#educacionintegral .seccion-text-right-titulo {
    font-size: 14px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0 !important;
}

.seccion-text-right.educacionIntegral {
	height: auto;


	div.sub-wrapper-lista {
		height: 300px !important	;
	}

	div.sub-wrapper-lista.hidden-lg {

		padding-top: 0;
		background-color: transparent !important;

		p {
			padding: 0;
			font-size: 14px;
			text-align: right;
			visibility: unset;
		}
	}
}

.educacionIntegral:after {
	content: "";
	background-color: rgba(229, 172, 77, 0.8);
	position: absolute;
	top: -140px;
	right: -70px;
	width: 600px;
	height: 600px;
	border-radius: 50%;
}

.imagen-educacion-circular {
	top: 40%;
	height: 180px;
}

.tab_content_colegio-edu {
	visibility: inherit;
	text-align: left;
}


ul.edu-tab.hidden-lg {
    left: 0;
    padding: 21px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/ei/sqr.png);

	li.items {
		width: 190px;
		text-align: left;
		padding-right: 0;
		position: relative;
		margin-bottom: 14px;

		a {
			color: #2e366a;
		    font-size: 20px;
			text-decoration: none;
		}

		&.active {
			a {
				color: gray;
			}
		}

		&.active::after {
		    top: -10px;
		    right: 35px;
		    position: absolute;
		    transform: translate(50%, 0);
		    content: url(img/miscelanea/arrow-choose.png);
		}
	}

} 


ul.educacion-integral-container {
	top:0;
	right: 0;
	z-index: 9;
	position: relative;

		button.e-integral {
			z-index: 1;
			left: 130px;
			width: 260px !important;
			color: #C83C41;
			height: 80px;
			display: block;
			cursor: pointer;
			font-size: 20px;
			line-height: 90px;
		    margin-left: auto;
		    margin-right: auto;
			padding-left: 14px;
			text-align: center;
			text-decoration: none;
			font-weight: 900;
			background-size: cover;
			background-image: url(img/submenu.png);
			background-color: transparent;
			border: none;
		}

		li {

			opacity: 0;
			width: 200px;
			display: none;
		    height: 50px;
    		line-height: 50px;
			margin: auto;
			text-align: center;
			border-radius: 3px;
			background-color: rgba(211, 211, 211, 0.2901960784313726);

			a {
				text-decoration: none;
				color: black;
				font-size: 20px;
			}


			&.active {
				opacity: 1;
				display: block;
			}
		}
}	

#educacionintegral .seccion-text-right {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: transparent;
	padding-top: 70px !important;


	h1 {
		color: #c74f47;
		margin-bottom: 14px;
	}

	&-titulo {
		font-size: 16px;
		margin-left: 14%;
		text-align: left;
		color: darken(gray, 10);
	}

	&:after {
		background-color: transparent;
	}
}

@media screen and (min-width: 768px) {
	#educacionpersonal {
		height: 100vh;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-image: url('img/personalizada/educacion-personalizada.jpg');

	    .section-content {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 745px;

			.seccion-text-right {
				width: 400px;
				margin-right: 0;
			}
	    }

	    .seccion-text-right {
	    	&-titulo {
    		    font-size: 21px;
			    text-align: right;
			    margin-top: 70px;
			    margin-bottom: 0px;
			    margin-left: 0 !important;
			}
    	}
	  
	  	.move-elements {
		    width: 100%;
		    position: relative;
		    margin-right: auto;
		    margin-top: 70px;


			img {
				position: absolute;
			}

			img.rotate-thing {
				&-one {
					right: 0;
					top: 21px;
				}

				&-two {
					left: 0;
					top: 21px;
				}

				&-three {
					right: 50%;
					top: -30px;
				}

				&-four {
					right: 30%;
					top: 71px;
				}

				&-five {
					right: 15%;
					top: -110px;
				}	

				&-six {
					left: 20%;
					top: 100px;
				}	

				&-seven {
					left: 60%;
					top: -37px;
				}					
			}
		}

	    .seccion-titulos {
	    	text-align: right;
	    	 h1 {
	    	 	color: white;
	    	 }
	    }

		.img-educacion-top {
			left: 4%;
			top: 100px;
			z-index: 3;
	    	width: 40% !important;
			height: auto !important;
			position: absolute;
		}
	}

	#educacionintegral {
	    background-image: unset;
	}

    .cajita {
        height: auto;
	}
	
	.img-educacion-top {
		left: 0%;
		top: 58px;
		z-index: 3;
    	width: 40% !important;
		height: 50% !important;
		position: absolute;
	}

	#educacionintegral .seccion-text-right {
		width: 40%;
		height: 432px;
		margin-right: 21px;
		padding-top: 7% !important;

		&-titulo {
			color: white;
			font-size: 18px;
			margin-left: 40%;
		}
	}

	.imagen-educacion-circular {
		top: 50%;
	}

	.educacionIntegral:after {
	    content: "";
	    position: absolute;
	    top: -140px;
	    right: -40px;
	    width: 600px;
	    height: 600px;
	    border-radius: 50%;
	    background-color: rgba(229, 172, 77, 0.8) !important;
	}

	.imagen-educacion-circular {
		  top: 30%;
		  right: 0;
		  width: 40%;
		  height: auto;
		  margin-right: 0;
		  margin-left: auto;

	}	


	#educacionintegral {
        .container-maxw,
        .wrapper-lista-descripcion {
            left: 0;
            right: 0;
            width: 100%;
            margin: 0 auto;
            max-width: 740px;
            position: absolute;
            transform: unset;
            height: unset !important;

            &-p {
            	visibility: unset;
            }
        }

        .sub-wrapper-lista {
        	height: 100;
        }

        .tab_content_colegio-edu {
    	    padding-right: 100px;
    	    font-weight: 100;

    	    strong {
    	    	font-weight: 800;
    	    }
        }
    }

    ul.educacion-integral-container {
		top:45%;
		right: 35px;
		z-index: 9;
		position: absolute;

		button.e-integral {
			z-index: 1;
			left: 130px;
			width: 260px !important;
			color: #C83C41;
			height: 80px;
			display: block;
			cursor: pointer;
			font-size: 20px;
			line-height: 90px;
			margin-left: auto;
			padding-left: 14px;
			text-align: center;
			text-decoration: none;
			font-weight: 900;
			background-size: cover;
			background-image: url(img/submenu.png);
			background-color: transparent;
			border: none;
		}

		li {

			opacity: 0;
			width: 200px;
			display: none;
		    height: 50px;
    		line-height: 50px;
			margin: auto;
			text-align: center;
			border-radius: 3px;
			background-color: rgba(211, 211, 211, 0.2901960784313726);

			a {
				text-decoration: none;
				color: black;
				font-size: 18px;
			}


			&.active {
				opacity: 1;
				display: block;
			}
		}
	}	

}


@media screen and (min-width: 1024px) {
	#educacionpersonal {
		height: 100vh;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-image: url('img/personalizada/educacion-personalizada.jpg');

		.section-content {
	        left: 0;
	        right: 0;
	        width: 100%;
	        margin: 0 auto;
	        transform: unset;
	        max-width: 1000px;
	        position: absolute;

			.seccion-text-right {
				width: 400px;
				margin-right: 35px;
			}
	    }

	    .seccion-text-right {
	    	&-titulo {
    		    font-size: 21px;
			    text-align: right;
			    margin-top: 70px;
			    margin-bottom: 0px;
			    margin-left: 0 !important;
			}
    	}
	  
	  	.move-elements {
		    width: 100%;
		    position: relative;
		    margin-right: auto;
		    margin-top: 15%;


			img {
				position: absolute;
			}

			img.rotate-thing {
				&-one {
					right: 0;
					top: 21px;
				}

				&-two {
					left: 0;
					top: 21px;
				}

				&-three {
					right: 50%;
					top: -30px;
				}

				&-four {
					right: 30%;
					top: 71px;
				}

				&-five {
					right: 15%;
					top: -110px;
				}	

				&-six {
					left: 20%;
					top: 100px;
				}	

				&-seven {
					left: 60%;
					top: -37px;
				}					
			}
		}

	    .seccion-titulos {
	    	text-align: right;
	    	 h1 {
	    	 	color: white;
	    	 }
	    }

		.img-educacion-top {
			top: 0;
			left: 4%;
			z-index: 3;
	    	width: 40% !important;
			height: auto !important;
			position: absolute;
		}
	}

    #educacionintegral {
        .container-maxw,
        .wrapper-lista-descripcion {
            left: 0;
            right: 0;
            width: 100%;
            margin: 0 auto;
            transform: unset;
            max-width: 1000px;
            position: absolute;
            height: 80% !important;
        }

		.seccion-text-right.educacionIntegral {
		    height: 650px;
		}   

		.img-educacion-top {
			left: 0%;
			top: 58px;
			z-index: 3;
	    	width: 40% !important;
			height: 50% !important;
			position: absolute;
		}

		.imagen-educacion-circular {
			margin-right: auto;
		}
    }
}


@media screen and (min-width: 1200px){
	#educacionintegral {

		.seccion-text-right {
		    width: 35%;
		    padding-top: 7% !important;
		    text-align: right;
		}
	}

	.img-educacion-top {
		top: 10%;
	}
}

@media screen and (min-width: 1300px){


	#educacionintegral {
		.img-educacion-top {
		    width: 40% !important;
		    height: 72% !important;
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1272px;
            height: 75% !important;
		}

		.seccion-text-right {
		    width: 30%;
		    text-align: right;
		    margin-right: 21px;
		    padding-top: 7% !important;

			&-titulo {
				width: 400px;
				margin-left: auto;
				text-align: right;
			}
		}
	}
}

@media screen and (min-width: 1400px){
	#educacionintegral {
		.img-educacion-top {
		    width: 40% !important;
		    height: 84% !important;
		}
	}
}


@media screen and (min-width: 1900px) and (max-width: 200000px){
	#educacionintegral {
		.img-educacion-top {
		    width: 40% !important;
		    height: 84% !important;
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1500px !important;
            height: 80% !important;
		}

	}
}