#educacionintegral {
	height: 100vh;
    background-size: cover;
    background-image: url('./mobile/historia-mob.jpg');
}

.seccion-text-right-titulo {
    font-size: 14px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0 !important;
}

.educacionIntegral:after {
	content: "";
	background-color: rgba(229, 172, 77, 0.8);
	position: absolute;
	top: -140px;
	right: -70px;
	width: 600px;
	height: 600px;
	border-radius: 50%;
}

.imagen-educacion-circular {
	top: 40%;
	height: 180px;
}

.seccion-text-right {
	width: 50%;
	padding-top: 7% !important;

	&-titulo {
		font-size: 18px;
		margin-left: 14%;
	}
}

@media screen and (min-width: 768px) {

	#educacionintegral {
	    background-image: unset;
	}

    .cajita {
        height: auto;
	}
	
	.img-educacion-top {
		position: absolute;
		left: 0%;
		top: 208px;
		z-index: 3;
		top: 20%;
	}

	.seccion-text-right {
		width: 50%;
		padding-top: 7% !important;

		&-titulo {
			font-size: 18px;
			margin-left: 40%;
		}
	}

	.imagen-educacion-circular {
		top: 50%;
	}

	.educacionIntegral:after {
	    content: "";
	    background-color: rgba(229, 172, 77, 0.8);
	    position: absolute;
	    top: -140px;
	    right: -10px;
	    width: 600px;
	    height: 600px;
	    border-radius: 50%;
	}

	.imagen-educacion-circular {
		  top: 30%;
		  height: auto;
		  width: 450px;
		  margin-right: auto;
		  margin-left: auto;
	}	


	#educacionintegral {
        .container-maxw,
        .wrapper-lista-descripcion {
            left: 0;
            right: 0;
            width: 100%;
            margin: 0 auto;
            max-width: 740px 	;
            position: absolute;
            transform: unset;
            height: 80% !important;
        }

        .sub-wrapper-lista {
        	height: 100;
        }
    }
}


@media screen and (min-width: 1024px) {
    #educacionintegral {
        .container-maxw,
        .wrapper-lista-descripcion {
            left: 0;
            right: 0;
            width: 100%;
            margin: 0 auto;
            transform: unset;
            max-width: 1000px;
            position: absolute;
            height: 80% !important;
        }
    }
}


@media screen and (min-width: 1200px){

	.img-educacion-top {
		top: 10%;
	}
}

@media screen and (min-width: 1300px){

	.img-educacion-top {
		top: 10%;
	}

	#educacionintegral {
		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1272px;
            height: 75% !important;
		}


		
		.seccion-text-right {
			&-titulo {
				width: 400px;
				margin-left: auto;
			}
		}
	}
}


@media screen and (min-width: 1900px) and (max-width: 200000px){
	#educacionintegral {
		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1500px !important;
            height: 80% !important;
		}

	}
}