@media screen and (min-width: 768px) {

	@keyframes rotating {
	  0%  { transform: rotate(0deg);}
	  100%{ transform: rotate(360deg);}
	}

	.rotaring { animation: rotating 4s linear infinite;}

	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;

		overflow-x: hidden;

		.middle-left,
		.historia {
			top: 0;
			width: 49%;
			position: relative;
			display: inline-block;
			vertical-align: middle;

			img {
				width: 100vw;
			}
		}

		.left, .right {
			float: right;
		}

		.puntos {
	      top: 50%;
	      left: 80%;
	      width: 100%;
	      position: absolute;

	      	.square {
	      		&-pink {
					width: 100px;
					height: 100px;
					top: -55px;
					left: 122px;
					position: relative;
					background-color: rgba(255, 192, 203, 0.5490196078431373);
	      		}

	      		&-green {
					width: 100px;
					height: 100px;
					top: -45px;
					left: 122px;
					position: relative;
				    background-color: rgba(0, 128, 0, 0.32941176470588235);	      			
	      		}
	      	}

	      	img {
	      		width: 100%;
	      	}
		}


		.left p {
			font-size: 20px;
		}

		.wrapper-lista-descripcion {
			transform: translateY(-105%);
		}

		.slick-slide {
			height: auto !important;
		}
	}

	circle.circle-ai {
	    animation: bounce 0.5s;
	    animation-direction: alternate;
	    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
	    animation-iteration-count: infinite;
	}
}


@media screen and (min-width: 1024px) {
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {
		.slick-slide {
			height: auto !important;
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1800px;
			position: absolute;
			height: 100% !important;
		}

	}
}


@media screen and (min-width: 1300px){
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {
		.slick-slide {
			height: auto !important;

			img {
				width: 70%;
			}
		}

		.puntos {
	      top: 50%;
	      left: 80%;
	      width: 100%;
	      position: absolute;

	      	.square {
	      		&-pink {
					width: 100px;
					height: 100px;
					top: -55px;
					left: 312px;
					position: relative;
					background-color: rgba(255, 192, 203, 0.5490196078431373);
	      		}

	      		&-green {
					width: 100px;
					height: 100px;
					top: -45px;
					left: 312px;
					position: relative;
				    background-color: rgba(0, 128, 0, 0.32941176470588235);	      			
	      		}
	      	}

	      	img {
	      		width: 100%;
	      	}
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1800px;
			position: absolute;
			height: 100% !important;
		}
	}
}


@media screen and (min-width: 1900px) and (max-width: 200000px){
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	.wrapper-lista-descripcion {
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1800px;
		position: absolute;
		height: 100% !important;
	}
}