.bg-linear-yellow {
	background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
}

.circuloRuta,
.ball,
.puntos,
#animacion-propuesta-bottom-path{
	display: none ;
}


#historia {
	height: 100vh;
	overflow-x: hidden;
    background-size: cover;
	background-repeat: no-repeat;
    background-image: url('./mobile/historia-mob.jpg');

	.middle-left,
	.historia {
		top: 0;
		width: 49%;
		position: relative;
		display: inline-block;
		vertical-align: middle;

		img {
			width: 90vw;
		}
	}


	.lineatiempo {
	    right: 0;
	    width: 40%;
	    bottom: -42px;
	    margin-left: 7%;
	    position: absolute;

    	a {
    		cursor: pointer;
    		
    		img {
				width: 100%;

			}
		}
	}

	.middle-left	{
		width: 50%;
		top: 113px;
	}

	.historia {
	    width: 280px;
	    display: block;
	    text-align: left;
	    padding: 70px 0 0 0;
	    margin: 80px auto 0;

	    div h1 {
	    	text-align: left;
	    }

	    div p {
	    	text-align: left;
	    	font-weight: 900;
	    	color: darken(gray, 10);
	    }	

    	div.right-mob p{
    		font-size: 15px;
    		text-align: right;
    	}

	    .lineatiempo-mob {
	    	color: #c74f47;
	    	font-size: 21px;
	    	cursor: pointer;
	    	font-weight: 900;
	    	text-align: left;
	    	position: relative;
	    	padding-left: 28px;
	    	text-decoration: none;

	    	&:after {
			    left: 0;
	    		top: -15px;
			    padding-top: 16px;
			    position: absolute;
			    transform: translate(50%, 0);	    		
			    content: url(img/arrow-choose-white.png);
	    	}
	    }    
    }

	.left, .right {
		float: right;
		position: relative;
		width: 100%;
	}

	.puntos {
      top: 50%;
      left: 80%;
      width: 100%;
      position: absolute;
      display: none;

      	.square {
      		&-pink {
      			display: none;
      		}

      		&-green {
				display: none;     			
      		}
      	}

      	img {
      		width: 100%;
      	}
	}


	.left {

		p {
			margin-top: 0;
			padding: 21px;
			font-size: 17px;
		}

		.ver-mas {
			position: absolute;
			right: 0;

			button {
				border: none;
				cursor: pointer;
				background-color: transparent;
			}

			img {
				width: 100px;
			}
		}
	}

	.wrapper-lista-descripcion {
	    transform: unset;
	    background-size: cover;
	    height: auto !important;
	    background-repeat: no-repeat;
	    background-image: url('./mobile/historia-mob.jpg');
	}

	.slick-slide {
		height: auto !important;

		img {
			width: 80%;
			height: 260px;
			margin: 0 auto;
			border-radius: 50%;
		}
	}

	ul.ins {

		    left: 4%;
		    z-index: 9;
		    bottom: -40px;
		    position: absolute;

		button.instalaciones {
			left: 130px;
			width: 170px;
			color: white;
			height: 55px;
			display: block;
			cursor: pointer;
			font-size: 20px;
			line-height: 60px;
			margin-left: auto;
			padding-left: 7px;
			text-align: center;
			text-decoration: none;
			background-size: cover;
			background-image: url(img/submenu.png);
			background-color: transparent;
			border: none;
		}
	}
}


@media screen and (min-width: 375px) {
	#historia .slick-slide img {
		width: 65%;
		margin-top: 35px;
	}
}

@media screen and (min-width: 425px) {
	#historia .slick-slide img {
		width: 60%;
	}
}


@media screen and (min-width: 768px) {

	.historia {
	    div h1 {
	    	text-align: right !important;
	    }

	    div p {
	    	text-align: right !important;
	    	color: white !important;
	    }	
		
		.slick-slide p {
			color: darken(gray, 10) !important;
		}
		
	}

	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	background-image: unset;

	.circuloRuta,
	.ball{
		display: block ;
		position: absolute;

	}




	.lineatiempo {

		width: 40%;
		z-index: 9;
		margin-left: 14%;
		position: absolute;
		bottom: -90px !important;	

    	a {
    		cursor: pointer;
    		
    		img {
				width: 100%;

			}
		}
	}


	#animacion-propuesta-bottom-path{
		display: block;
		background-size: cover;
		background-image: url('img/shape-bg.jpg');
	}

	@keyframes rotating {
	  0%  { transform: rotate(0deg);}
	  100%{ transform: rotate(360deg);}
	}

	.rotaring { animation: rotating 4s linear infinite;}

	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;

		overflow-x: hidden;

		.middle-left,
		.historia {
			top: 0;
			width: 48%;
			position: relative;
			display: inline-block;
			vertical-align: middle;

			img {
				width: 100vw;
			}
		}

		.left, 
		.right {
			float: right;
			position: relative;
			width: 50%;
		}

		.puntos {
	      top: 50%;
	      left: 80%;
	      width: 100%;
	      display: block;
	      z-index: 1;
	      position: absolute;

	      	.square {
	      		&-pink {
					width: 100px;
					height: 100px;
					top: -55px;
					left: 233px;
					position: relative;
					display: block;
					background-color: rgba(255, 192, 203, 0.5490196078431373);
	      		}

	      		&-green {
					width: 100px;
					height: 100px;
					top: -45px;
					left: 203px;
					position: relative;
					display: block;
				    background-color: rgba(0, 128, 0, 0.32941176470588235);	      			
	      		}
	      	}

	      	img {
	      		width: 100%;
	      	}
		}


		.left {

			.position {
				top: -10%;
			}


			p {
				font-size: 17px;
				margin-top: 0;
			}

			.ver-mas {
				position: absolute;
				right: 0;

				button {
					border: none;
					cursor: pointer;
					background-color: transparent;
				}

				img {
					width: 100px;
				}
			}
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			margin: 0;
			width: 100%;
	    	bottom: -28%;
			margin-top: 0;
			transform: unset;
			position: absolute;
			height: 60% !important;
			background-image: unset;
		}

		.slick-slide {
			height: auto !important;

			img {
				border-radius: 50%;
				height: 300px;
				width: 80%;
			}
		}

		ul.ins {

			left: 18%;
			position: absolute;

			button.instalaciones {
				left: 130px;
				width: 170px;
				color: #cc534e;
				height: 55px;
				display: block;
				cursor: pointer;
				font-size: 20px;
				font-weight: 800;
				line-height: 60px;
				margin-left: auto;
				padding-left: 7px;
				text-align: center;
				text-decoration: none;
				background-size: cover;
				background-image: url(img/submenu.png);
				background-color: transparent;
				border: none;
			}
		}
	}

	circle.circle-ai {
	    animation: bounce 0.5s;
	    animation-direction: alternate;
	    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
	    animation-iteration-count: infinite;
	}
}


@media screen and (min-width: 1024px) {
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {
		.slick-slide {
			height: auto !important;
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			bottom: -64%;
			margin: 0 auto;
			margin-top: 8%;
			max-width: 1000px;
			position: absolute;
			height: 60% !important;
		}

		.slick-slide {
			img {
				border-radius: 50%;
				height: 400px;
				width: 80%;
			}
		}

	}
}


@media screen and (min-width: 1300px){
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {

		.middle-left,
		.historia {

			img {
				width: 84vw;
			}
		}

		.slick-slide {
			img {
				border-radius: 50%;
				height: 500px;
				width: 80%;
			}
		}

		.puntos {
	      top: 50%;
	      left: 80%;
	      width: 100%;
	      display: block;
	      position: absolute;

	      	.square {
	      		&-pink {
					width: 100px;
					height: 100px;
					top: -55px;
					left: 312px;
					position: relative;
					display: block;
					background-color: rgba(255, 192, 203, 0.5490196078431373);
	      		}

	      		&-green {
					width: 100px;
					height: 100px;
					top: -45px;
					left: 312px;
					position: relative;
					display: block;
				    background-color: rgba(0, 128, 0, 0.32941176470588235);	      			
	      		}
	      	}

	      	img {
	      		width: 100%;
	      	}
		}

		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			bottom: -100%;
			margin-top: 0;
			margin: 0 auto;
			max-width: 1272px;
			position: absolute;
			height: 80% !important;
		}
	}
}


@media screen and (min-width: 1440px){
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {

		.slick-slide {
			img {
				border-radius: 50%;
				height: 480px;
				width: 80%;
			}
		}


		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			bottom: -60%;
			margin-top: 0;
			margin: 0 auto;
			max-width: 1272px;
			position: absolute;
			height: 70% !important;
		}
	}
}

@media screen and (min-width: 1440px){
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	#historia {

		.slick-slide {
			img {
				border-radius: 50%;
				height: 500px;
				width: 80%;
			}
		}


		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			bottom: -85%;
			margin-top: 0;
			margin: 0 auto;
			max-width: 1272px;
			position: absolute;
			height: 70% !important;
		}
	}
}



@media screen and (min-width: 1900px) and (max-width: 200000px){
	.bg-linear-yellow {
		background-image: linear-gradient(180deg, #e7af53, #f1cc97, #faedd7) !important;
	}

	.wrapper-lista-descripcion {
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1500px;
		position: absolute;
		height: 100% !important;
	}
}