body {
    background-color: #fff;
    font-family: 'Candara' ,sans-serif;
    font-weight: normal;
    font-style: normal;
}

.js {
    .slider-single {
        >div {
            &:nth-child(1n+2) {
                display: none;
            }
        }
    }
    .slider-single.slick-initialized {
        >div {
            &:nth-child(1n+2) {
                display: block;
            }
        }
    }
}

.box-text-float {
    text-align: left;
    position: absolute;
    top: 14px;
    width: 380px;
    padding: 21px;
    h3 {
        font-size: 35px;
        margin-bottom: 14px;
        color: #fff;
    }
    p {
        color: #fff;
        font-size: 16px;
    }
}

.slider-single {
    h3 {
        line-height: 10rem;
    }
}

.slider-nav {
    .slick-slide {
        cursor: pointer;
        position: relative;
        img {
            position: absolute;
            bottom: -16px;
            left: 0;
            right: 0;
        }
    }
}

.slick-slide.is-active {
    h3 {
        color: #fff;
    }
}

.slick-track {
    height: 100%;
    .slick-slide {
        text-align: right;
        padding-right: 28px;
    }
}

.slick-list {
    height: 100%;
}

.slider-home {
    right: 0;
    width: 100%;
    float: right;
    position: absolute;
    .slick-slide {
        .image-slider {
            width: 70%;
            display: inline-block;
        }
        .image-nav {
            width: 450px;
        }
    }
}

.box-logos {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: inline-block;
    float: right;
    text-align: right;
    img {
        display: inline-block;
        width: 80px;
    }
}

.slider.slider-nav.slick-initialized.slick-slider {
    position: absolute;
    left: 0;
    width: 441px;
    bottom: 0;
}

.container-full {
    width: 100%;
    height: 100%;
    padding-top: 114px;
    position: relative;
}

.tabs-info {
    left: 0;
    width: 40%;
    position: absolute;
    height: calc(100vh + 35px); 


    div {
        img {
            width: 100%;
        }
    }

    .tab-1,
    .tab-2,
    .tab-3,
    .tab-4 {
        left: 0;
        width: 470px;
        height: 460px;
        bottom: 109px;
        position: absolute;
        background-size: cover;
    }

    .tab-1 {
        z-index: 4;
        background-image: url(img/tab1.png);
    }

    .tab-2 {
        z-index: 3;
        background-image: url(img/tab2.png);
    }

    .tab-3 {
        z-index: 2;
        background-image: url(img/tab3.png);
    }

    .tab-4 {
        z-index: 1;
    }
}

.slick-slide {
    height: 554px !important;
    margin-top: 35px;
}


@media screen and (min-width: 768px) {
    .navegacion-simple-ul {
        li {
            a {
                font-size: 14px;

                br {
                    display: none;
                }
            }
        }
    } 

    .logo-rmd {
        left: 14px;
        top: 170%;

        img {
            width: 100% !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    .navegacion-simple-ul {
        li {
            a {
                font-size: 20px;

                br {
                    display: block;
                }
            }
        }
    }     
}

@media screen and (min-width: 1300px) {
    .box-text-float {
        top: 15%;
        width: 450px;
    }

    .slider-home {
        .slick-slide {
            .image-slider {
                width: 65%;
            }
            .image-nav {
                width: 100%;
            }
        }
    }

    .box-logos {
        img {
            width: 100px;
        }
    }

    .slider.slider-nav.slick-initialized.slick-slider {
        width: 33%;
    }

    .tabs-info {
        .tab-1,
        .tab-2,
        .tab-3,
        .tab-4 {
            width: 600px;
            height: 600px;
            bottom: 107px;
        }
    }

    .navegacion-simple-ul {
        li {
            a {
                font-size: 22px;

                br {
                    display: block;
                }
            }
        }
    }    

    .logo-rmd {
        left: 5% !important;
        top: 31px !important;
        position: absolute;
    }  
}


@media screen and (min-width: 1440px) {
    .slick-slide {
        margin-top: 35px;
        height: auto !important;
    }
    
    .tabs-info .tab-1, .tabs-info .tab-2, .tabs-info .tab-3, .tabs-info .tab-4 {
        width: 1000px;
        height: 950px;    
    }
}