.miscelanea {
    background-image: url(img/miscelanea/bg-miscelanea-mob.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    // background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 ;

    .line-right,
    .line-left {
        display: none;
    }

    @media screen and (min-width: 790px) {
        padding: 0 250px 0 85px;
        background-image: url(img/miscelanea/fondo-deep-1.png);

        .line-right {
            display: block;
            position: absolute;
            top: 19px;
            right: -180px;
            width: 300px !important;
            z-index: 9;

        }

        .line-left {
            display: block;
            position: absolute;
            top: 58px;
            right: -107px;
            width: 300px !important;
            z-index: 9;

        }
    }

    @media screen and (min-width: 1100px) {
        padding: 0 250px 0 200px;
    }


    .scalar {
        position: absolute;
        bottom: -132px;
        left: -69px;
        right: auto;
        top: auto;
        z-index: 10;

        @media screen and (min-width: 790px) {
            top: -70px;
            right: -88px;
            bottom: auto;
            left: auto;

            .containerCubo {
                transform: scale(0.9);
            }
        }
    }

    .img-rdm {
        position: absolute;
        right: 21px;
        bottom: auto;
        top: 0;
        
        .logo-img {
            width: 135px;
        }

        @media screen and (min-width: 790px) {
            bottom: -35px;
            position: absolute;
            right: -35px;
            top: auto;

            .logo-img {
                width: 151px;
            }

        }

        @media screen and (min-width: 1100px) {
            right: -184px;
            .logo-img {
                width: 250px;
            }
            
        }
    }

    .content {
        width: 500px;
        margin: 0 auto;
        height: 412px;
        position: relative;
        background-image: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 200px;
        }

        .slider-fotos-miscelanea {
            width: 220px !important;

            .slick-list {
                height: auto !important;
            }


            @media screen and (min-width: 1024px) {
                width: 400px !important;
                
            }

            @media screen and (min-width: 1200px) {
                width: 600px !important;
                
            }

            @media screen and (min-width: 1400px) {
                width: 550px !important;
                
            }

            img {
                max-width: 100% !important;
                height: auto !important;
                padding: 0;
                margin-top: 0;
            }
        }

        @media screen and (min-width: 790px) {
            background-image: url(img/miscelanea/fondo-slide-end.png);
        }

        @media screen and (min-width: 1100px) {
            height: 500px;
            width: 700px;
        }

    }

    .overlay {
        position: absolute;
        bottom: 35px;
        right: 55px;
        width: 355px;
        text-align: center;
        margin: 0 auto;
        z-index: 1;

        .items {
            text-align: right;
            position: relative;

            a {
                text-decoration: none;
                color: #FF7167;
                &:hover {
                    opacity: 0.7;
                }
            }

            h2 {
                padding-right: 21px;
                font-size: 22px;
                margin: 7px 0px;

                @media screen and (min-width: 790px) {
                    font-size: 24px;
                }
            }

            &.active {
                &::after {
                    content: url(img/miscelanea/arrow-choose.png);
                    position: absolute;
                    right: 0;
                    top: -10px;
                    transform: translate(50%,0);
                    
                }
            }
        }

        @media screen and (min-width: 790px) {
            bottom: 50%;
            right: 52px;
        }
    }
}