
#page-propuesta-educativa {

	.left {

	}

	.scalar {
		display: none;
	}

	.container-maxw {
		.instalaciones {
			right: 9px;
			position: absolute;

			button {
				color: white;
				border: none;
				font-size: 25px;
				cursor: pointer;			
				background-color: transparent;

				img {
					width: 10%;
					vertical-align: middle;
				}
			}
		}
	}

	.slick-slide {

		img {
			width: 80%;
			margin: 0 auto;
			border-radius: 50%;
			height: 300px;
		}

		p {
			padding: 30px;
		}
	}
}


@media screen and (min-width: 768px) {

	.scalar {
		display: block !important;
	}

	#page-propuesta-educativa {

		ul.slick-dots {
			bottom: -50px;
		}


		.wrapper-slider-fotos {
			.slick-slide {
				height: 400px !important;
			}
		}

		.container-maxw {
			.instalaciones {
				right: 9px;
				position: absolute;

				button {
					color: white;
					border: none;
					font-size: 25px;
					cursor: pointer;			
					background-color: transparent;

					img {
						width: 10%;
						vertical-align: middle;
					}
				}
			}
		}
		
		.slick-slide  {
			height: 400px !important;
		}

		.wrapper-slider-fotos {
			left: 21px;
		}

		.full-width {
			p {
				font-size: 12px;
			}

			div.h-700 {
				height: 600px;
			}
		}

		.scalar {
			right: 0;
			bottom: 0;
			position: absolute;

			&.left-p {
				right: 90%;
			}
		}

		.ball {
			top: 80%;
		}


		.circle-red {
		    bottom: 0px;
		    left: 25%;
		    z-index: 9;
		    width: 100px;
		    height: 100px;
		    position: absolute;
		    border-radius: 50%;
		    background-color: #dd2128;
		}


		.slider-propuesta {
			width: 100%;
			height: 480px;
			position: relative;

			.right,
			.left {
				float: right;
				vertical-align: unset;
			}

			.right {
				top: 0;

				.slick-slide {
					margin: 35px 0;

					img {
						width: 80%;
						height: 300px;
						border-radius: 50%;
					}
				}
			}

			.left p {
				margin-right: 0;
				margin-left: 0 !important;
				font-size: 16px;
				text-align: right;
				line-height: 18px;
				color: #2e366a;
				width: auto;
				margin-top: 21%;
			}


			.slider.slider-nav.slick-initialized.slick-slider {
				width: auto;
			}
		}


		.circulo-verde-bottom-nuestraPropuesta {
			width: 150px;
			height: 150px;
		}

	
		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 740px;
			position: absolute;
			height: 100% !important;
			transform: unset;


			.slick-list {
				height: auto !important;
			}
		}
	}



	circle.circle-ai {
	    animation: bounce 0.5s;
	    animation-direction: alternate;
	    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
	    animation-iteration-count: infinite;
	}
}


@media screen and (min-width: 1024px) {

		.scalar {
			display: block;
		}

		#page-propuesta-educativa {

			.container-maxw,
			.wrapper-lista-descripcion {
				left: 0;
				right: 0;
				width: 100%;
				margin: 0 auto;
				max-width: 1000px;
				position: absolute;
				margin-top: 8%;
				transform: unset;
				height: 80% !important;
			}

			.wrapper-slider-fotos {
			    left: 70px;
		    }			

		    .slider-propuesta {
				.slick-slide {
					img {
						width: 80%;
						height: 400px !important;
					}
				}
		    }

    		.slick-slide  {
				height: 500px !important;
			}

			.full-width {
				p {
					font-size: 19px;
				}

				div.h-700 {
					height: 600px;
				}
			}
		}
}


@media screen and (min-width: 1300px){

	.scalar {
		display: block !important;
	}
		
	#page-propuesta-educativa {
		.slider-propuesta {
			.right {
				.slick-slide {
					img {
						width: 80%;
						height: 500px !important;
					}
				}
			}

		}		

		.slider-propuesta .left p {
			font-size: 21px;
			line-height: 22px;
		}

		.wrapper-slider-fotos {
			left: 150px;
		}

		.slider-nav .slick-list {
			height: auto !important;
		}

		.container-maxw,
		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1272px;
			margin-top: 8%;
			height: 80% !important;
		}

	
		.slider.slider-nav.slick-initialized.slick-slider {
			width: 580px !important;
		}
	
		.circulo-verde-bottom-nuestraPropuesta {
			bottom: 190px;
		}
	}
}

@media screen and (min-width: 1350px){
	
	#page-propuesta-educativa {

		.container-maxw,
		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			max-width: 1272px;
			margin-top: 10%;
			height: 80% !important;
		}

	}

}


@media screen and (min-width: 1900px) and (max-width: 200000px){

	.scalar {
		display: block !important;
	}
		
	#page-propuesta-educativa {
		.container-maxw,
		.wrapper-lista-descripcion {
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			margin-top: 8%;
			max-width: 1500px !important;
			height: 100% !important;
		}
	}
}