.pizza-content,
.center-absolute {
	img {
		width: 100%;
	}
}

.left-inside-shape {
	display: none;
}

.line-yellow,
.red-bg--absolute,
.red,
.square,
.circle-fade-purple {
	img {
		display: none;
	}
}

.circle-fade-purple {
	ul {
			top:75px;
			right: 35px;
			position: absolute;

			button.vision {
				left: 130px;
				width: 180px !important;
				color: white;
				height: 55px;
				display: block;
				cursor: pointer;
				font-size: 20px;
				line-height: 60px;
				margin-left: auto;
				padding-left: 7px;
				text-align: center;
				text-decoration: none;
				background-size: cover;
				background-image: url(img/submenu.png);
				background-color: transparent;
				border: none;
			}

			li {

				opacity: 0;
				width: 170px;
				height: 40px;
				display: none;
				margin-left: auto;
				text-align: center;
				border-radius: 3px;
				background-color: rgba(211, 211, 211, 0.2901960784313726);

				a {
					text-decoration: none;
					color: black
				}


				&.active {
					opacity: 1;
					display: block;
				}
			}
		}	
}

#colegio {
	#boton-click {
		top:0;
	}

	.wrapper-lista-descripcion-p {
		visibility: visible !important;
		margin-top: 30px;
	}
}

.hidden-lg {
	display: block;
}

.hidden-xs {
	display: none;
}

.left-inside-shape {
	bottom: -358px;
	position: absolute;
}

.right-mobile {
	top: -150px;
	position: absolute;
}

@media screen and (min-width: 768px) {

.left-inside-shape {
	display: block;
	bottom: -358px;
	position: unset;

}

#conIsrna

	.left-inside-shape {
		position: unset;
	}


	.hidden-lg {
		display: none;
	}
	
	.hidden-xs {
		display: block;
	}

	.line-yellow,
	.red-bg--absolute,
	.red,
	.square,
	.circle-fade-purple {
		img {
			display: block;
		}
	}

	.auto-height {
		height: 800px;	
		overflow: visible;
	}

	.square {
		display: block;
	}

	.wrapper-container {
		height: 100vh;
	}

	.red-bg--absolute  {
	    top: 0;
	    width: 55%;
	    z-index: 0;
	    height: 100%;
	    right: 0;
		display: block;
		position: absolute;
		overflow: hidden;

	    img {
		    top: 0;
		    position: absolute;
		    margin-top: -200px;
	    }
	}

	.line-yellow {
    	top: 10%;
	    left: 0;
	    right: 0;
	    width: 300px;
	    z-index: 1;
	    margin-left: auto;
	    margin-right: auto;
			position: absolute;
			display: block;

		img {
			width: 100%;
		}
	}

	.circle-blue {
		bottom: 180px;
		z-index: 87;
		left: 3.6%;
		width: 100px;
		height: 100px;
		position: absolute;
		border-radius: 50%;
		background-color: #253776;
	}

	.red {
	    left: 0;
	    bottom: -6px;
	    right: -20%;
	    width: 21%;
	    z-index: 3;
	    margin-right: auto;
	    margin-left: auto;
			position: absolute;
			display: block;

		img {
			width: 100%
		}
	}

	.circle-red {
	    bottom: 64px;
	    right: 28%;
	    z-index: 2;
	    width: 100px;
	    height: 100px;
	    position: absolute;
	    border-radius: 50%;
	    background-color: #dd2128;
	    transition: all .8s linear;
	}

	.circle-fade-purple {
		bottom: 0;
		right: 0;
		z-index: 10;
		width: 250px;
		height: 250px;
		display: block;
		text-align: center;
		position: absolute;
		border-radius: 50%;
		background-image: linear-gradient(to left, rgba(137, 109, 183, 0.45), #2a016ea1);


	    p {
			top: 33%;
			left: 0;
			right: 0;
			color: white;
			font-size: 26px;
			margin-left: auto;
			margin-right: auto;
			position: absolute;
	    }
		
		&:hover {
	    	background-image: linear-gradient(to right, rgba(137, 109, 183, 0.87), rgb(42, 1, 110));
		}


		ul {
			top:75px;
			right: 35px;
			position: absolute;

			button.vision {
				left: 130px;
				width: 180px !important;
				color: white;
				height: 55px;
				display: block;
				cursor: pointer;
				font-size: 20px;
				line-height: 60px;
				margin-left: auto;
				padding-left: 7px;
				text-align: center;
				text-decoration: none;
				background-size: cover;
				background-image: url(img/submenu.png);
				background-color: transparent;
				border: none;
			}

			li {

				opacity: 0;
				width: 170px;
				height: 40px;
				display: none;
				margin-left: auto;
				text-align: center;
				border-radius: 3px;
				background-color: rgba(211, 211, 211, 0.2901960784313726);

				a {
					text-decoration: none;
					color: black
				}


				&.active {
					opacity: 1;
					display: block;
				}
			}
		}
	}

	.carousel-move {
	    position: absolute;
	    z-index: 10;
	    left: 21px;
	}

	.word-inside {
	    right: 0;
	    width: 50%;
	    height: 100%;
        margin-right: 5%;
		position: absolute;
		margin-top: -60px;
		top: 35%;	

			h1 {
				z-index: 4;
				right: 0;
				position: relative;
				font-size: 23px;
			}

	    p {
			width: 60%;
			font-size: 8px;
			margin-right: 0;
			margin-left: auto;
	    }
	}

	/*
	* Animaciones
 	*/

 	.opacity-scroll-up,
 	.opacity-scroll-down,
 	.opacity-scroll-top {
 		transition-delay: 0.8s;
 	}
	
	.animated {
	  -webkit-animation-duration: .5s;
	  animation-duration: .5s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  -webkit-animation-iteration-count: infinite;
	}

	.bounce {
	  -webkit-animation-name: bounce;
	  animation-name: bounce;
	}

	@-webkit-keyframes bounce {
	  0%, 100% {
	    -webkit-transform: translateY(0);
	  }
	  50% {
	    -webkit-transform: translateY(-10px);
	  }
	}

	@keyframes bounce {
	  0%, 100% {
	    transform: translateY(0);
	  }
	  50% {
	    transform: translateY(-10px);
	  }
	}

	@-webkit-keyframes rotating /* Safari and Chrome */ {
	  from {
	    -webkit-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -webkit-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}

	@keyframes rotating {
	  from {
	    -ms-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -ms-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}

	.rotating {
    	top: 40%;
		right: -82px;
		line-height: 100px;
		text-align: center;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		opacity: 1 !important;



		img {
			width: 100%;
			animation: rotating 3s linear infinite;
		}
	}

	@keyframes scaling {
	  0%  { transform: scale(1);}
	  20%{ transform: scale(2);}
	  40%{ transform: scale(0.5);}
	  60%{ transform: scale(0);}
	  80%{ transform: scale(-1);}
	  100%{ transform: scale(1);}
	}

	.scale-circle { 
		animation: scaling 1s steps(1) 0s infinite;
	}

	@keyframes translating {
	  0%  { transform: translate(0, 0);}
	  25% { transform: translate(440px, 0);}
	  50% { transform: translate(440px, 0);}
	  75% { transform: translate(0, 0);}
	  100%{ transform: translate(0, 0);}
	}

	.translate-animated { 
		animation: translating 4s linear infinite;
	    animation: translating 4s linear 0s infinite;
	}


	.fondo-colegio {
		.rotating {
		    left: 14%;
		    width: 120px;
		    margin: 0;
		    top: unset;
		    bottom: 0;
		    opacity: 1 !important;
		}
	}

	/*Child Section*/

	.left,
	.right {
		height: 100%;
		width: calc(99%/2);
		position: relative;
		display: inline-block;
		vertical-align: middle;

			img {
				width: 100%;
			}

			.center-absolute {
				text-align: center;
				padding-top: 70px;
				padding-right: 35px;
				position: absolute;
			    margin-top: -250px;
    			top: 60%;

			} 

			.left-inside-shape {
				.pizza-content {
					left: 0;
					bottom: 0;
					margin-left: auto;
					position: absolute;
				}
			}
	}

	.bottom-svg-nuestro-colegio {
		height: 600px;
	} 

	.left {
		p {
			margin-left: 14%;
		}
	}

	.fondo-colegio .slick-slide {
		height: auto !important;
		margin-top: 4%;
  }
}


@media screen and (min-width: 1024px) {

	.left-inside-shape {
		display: block;
	}


	.hidden-lg {
		display: none;
	}
	
	.hidden-xs {
		display: inline-block;
	}

	.line-yellow,
	.red-bg--absolute,
	.red,
	.square,
	.circle-fade-purple {
		img {
			display: block;
		}
	}


	html,
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.auto-height {
	    height: 800px;	
		overflow: visible;
	}

	.wrapper-container {
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1800px;
		position: absolute;
		height: 100% !important;
	}


	.red-bg--absolute  {
		top: 31%;
		width: 65%;
		z-index: 0;
		right: -118px;
		display: block;
		position: absolute;
		overflow: visible;

	    img {
	    	width: 100%;
	    }
	}


	.line-yellow {
    	top: 10%;
	    left: 0;
	    right: 0;
	    width: -a270px;
	    z-index: 1;
	    margin-left: auto;
	    margin-right: auto;
			position: absolute;
			display: block;			

		img {
			width: 100%;
		}
	}

	.circle-blue {
	    bottom: 120px;
		z-index: 87;
	    left: 3.6%;
	    width: 100px;
	    height: 100px;
	    position: absolute;
		border-radius: 50%;
	    background-color: #253776;
	}

	.red {
	    left: 0;
	    bottom: -6px;
	    right: -20%;
	    width: 21%;
	    z-index: 3;
	    margin-right: auto;
	    margin-left: auto;
	    position: absolute;
			display: block;

			img {
				width: 100%
			}
	}

	.circle-red {
	    bottom: 64px;
	    right: 21%;
	    z-index: 2;
	    width: 100px;
	    height: 100px;
	    position: absolute;
	    border-radius: 50%;
	    background-color: #dd2128;
	}

	.circle-fade-purple {
		bottom: 0;
		right: 0;
		z-index: 10;
		width: 250px;
		height: 250px;
		display: block;
		text-align: center;
		position: absolute;
		border-radius: 50%;
		background-image: linear-gradient(to left, rgba(137, 109, 183, 0.45), #2a016ea1);


	    p {
			color: white;
			font-size: 26px;
			position: absolute;
			top: 33%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
	    }
		
		&:hover {
	    	background-image: linear-gradient(to right, rgba(137, 109, 183, 0.87), rgb(42, 1, 110));
		}
	}

	.carousel-move {
	    position: absolute;
	    z-index: 10;
	    left: 67px;
	}

	.word-inside {
	    right: 0;
	    width: 50%;
	    height: 100%;
	    margin-right: 5%;
		margin-top: -204px;
		position: absolute;
		top: 50%;

			h1 {
				z-index: 4;
				right: 0;
				position: relative;
				font-size: normal;
			}

	    p {
			width: 60%;
			font-size: 15px;
			margin-right: 0;
			margin-left: auto;
	    }
	}

	.fondo-colegio {
		.rotating {
		    left: 14%;
		    width: 120px;
		    margin: 0;
		    top: unset;
		    bottom: 0;
		    opacity: 1 !important;
		}
	}

	/*Child Section*/

	.left,
	.right {
		height: 100%;
		width: calc(99%/2);
		position: relative;
		display: inline-block;
		vertical-align: middle;

			img {
				width: 100%;
			}

			.center-absolute {
				text-align: center;
				padding-top: 0;
				padding-right: 35px;
				position: absolute;
			} 

			.left-inside-shape {
				.pizza-content {
					left: 0;
					bottom: 0;
					margin-left: auto;
					position: absolute;
				}
			}
	}

	.bottom-svg-nuestro-colegio {
		height: 600px;
	} 

	.left {
		p {
			margin-left: 14%;
		}
	}

	.fondo-colegio .slick-slide {
		height: auto !important;
	}

}


@media screen and (min-width: 1200px) {

	.hidden-lg {
		display: none;
	}
	
	.hidden-xs {
		display: inline-block;
	}
	.wrapper-container {
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1800px;
		position: absolute;
		height: 100% !important;
	}
}


@media screen and (min-width: 1300px){

	.hidden-lg {
		display: none;
	}
	
	.hidden-xs {
		display: inline-block;
	}

	.wrapper-container {
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1800px;
		position: absolute;
		height: 100% !important;
	}

	.auto-height {
		height: 800px;
		overflow: visible;
	}


	.red-bg--absolute  {
		top: 25%;
		z-index: 0;
		width: 55%;
		position: absolute;
	}

	.line-yellow {
		top: 15%;
	}

	.circle-blue {
	    bottom: 120px;
	    left: 3.6%;
	}

	@keyframes translating {
	  0%  { transform: translate(0, 0);}
	  25% { transform: translate(640px, 0);}
	  50% { transform: translate(640px, 0);}
	  75% { transform: translate(0, 0);}
	  100%{ transform: translate(0, 0);}
	}


	.carousel-move {
	    position: absolute;
	    z-index: 87;
	    left: 67px;
	}

	.slider-fotos {
		width: 700px !important;
		height: 600px !important;
		img {
			width: 100%
		}
	}

	/*Child Section*/

	.left,
	.right {

		height: 100%;

		.center-absolute {
			top: 40%;
			padding-top: 0;
		} 
	}

	.word-inside {
		p {
		    width: 60%;
    		font-size: 16px;
		}
	}

	.bottom-svg-nuestro-colegio {
		height: 700px;
	} 

	.fondo-colegio .slick-slide {
		margin-top: 0;
		height: 430px !important;
	}
}


@media screen and (min-width: 1900px) and (max-width: 200000px){
	.hidden-lg {
		display: none;
	}
	
	.hidden-xs {
		display: inline-block;
	}

	.line-yellow {
		width: 400px;
	}

	.word-inside {
		top: 200px;
	}

	.wrapper-container {
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 1900px;
		position: absolute;
		height: 100% !important;
	}
}